<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Boot Thymeleaf Application - Form Samples - Inputs</title>
</head>
<body>

	<h1>Add new Asset</h1>

	<div id="form">
		<form action="#" th:action="@{/saveAsset}"
			th:object="${addingAssetForm}" method="POST">
			<div>
				<label>id_asset</label> <input type="text" th:field="*{id_asset}" />
			</div>
			<div>
				<label>Name</label> <input type="text" th:field="*{name}" />
			</div>
			<div>
				<label>account</label> <input type="text" th:field="*{account}" />				
			</div>
			<div>
				<label>department</label> <input type="text"
					th:field="*{department}" />
			</div>
			<div>
				<label>IP</label> <input type="text" th:field="*{ip}" />
			</div>
			<div>
				<label>received_date</label> <input type="text"
					th:field="*{received_date}" />
			</div>
			<div>
				<label>status</label> <input type="text" th:field="*{status}" />
			</div>
			<div>
				<label>email</label> <input type="email" th:field="*{email}" />
			</div>
			<div>
				<label>site</label> <input type="text" th:field="*{site}" />
			</div>
			<!--     private String update_stamp; -->
			<!--     private String update_user; -->
			<!--     private String delete_ts; -->
			<!--     private String delete_user; -->
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>