<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Boot Thymeleaf Application - Form Samples - Inputs</title>
</head>
<body>

	<h2>Edit Form</h2>
<!-- 	<form action="#" th:action="@{/EditFormUser}" -->
<!-- 			th:object="${assetsEdit}" method="POST"> -->
<!-- 	<table border="1" style="width: 300px"> -->
<!-- 		<tr> -->
<!-- 			<td>ID_Asset</td> -->
<!-- 			<td>Name</td> -->
<!-- 			<td>Account</td> -->
<!-- 			<td>Department</td> -->
<!-- 			<td>IP</td> -->
<!-- 			<td>Received_Date</td> -->
<!-- 			<td>Status</td> -->
<!-- 			<td>Email</td> -->
<!-- 			<td>Site</td> -->
<!-- 			<td>Update_Stamp</td> -->
<!-- 			<td>Update_User</td> -->
<!-- 			<td>Delete_TS</td> -->
<!-- 			<td>Delete_User</td> -->
<!-- 			<td>Edit_Action</td> -->
<!-- 			<td>Delete_Action</td> -->
<!-- 		</tr> -->
<!-- 		<tr th:each="smokeTest : ${assets}"> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.id_asset}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.name}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.account}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.department}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.ip}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.received_date}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.status}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.email}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.site}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${update_stamp}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${update_user}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.delete_ts}" /> </td> -->
<!-- 			<td> <input type="text" th:value="${smokeTest.delete_user}" /> </td> -->
<!-- 			<td><button>Edit</button></td> -->
<!-- 			<td><button>Delete</button></td>	 -->
<!-- 		</tr> -->
<!-- 	</table> -->
<!-- 	</form> -->

</body>
</html>